@font-face {
  font-family: poppins-extrabold;
  src: url(Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-extralight;
  src: url(Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: poppins-light;
  src: url(Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-semibold;
  src: url(Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-thin;
  src: url(Poppins-Thin.ttf);
}
@font-face {
  font-family: poppins-black;
  src: url(Poppins-Black.ttf);
}
.navbar{
  position:sticky;
  width: 90vw;
  max-width: 1315px;
  height:80px;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 0px;
  z-index: 40;
}
.logo-title{
  font-size: 20px;
  line-height: 26px;
  font-family: poppins-bold;
}
p{
  font-size: 16px;
  line-height: 20px;
  font-family: poppins-light;
}
.login{
  position: fixed;
  z-index: 10001;
  top:0px;
  right:0px;
  height: 100vh;
  background-color: #0e0e0e;
  width:400px;
  padding:20px 50px 100px 50px;
  margin-bottom: 10px;
}
.register{
  position: fixed;
  z-index: 10001;
  top:0px;
  right:0px;
  height: 100vh;
  background-color: #0e0e0e;
  width:400px;
  padding:20px 50px 100px 50px;
  margin-bottom: 10px;
}
.passwordReset{
  position: fixed;
  z-index: 10001;
  top:0px;
  right:0px;
  height: 100vh;
  background-color: #0e0e0e;
  width:400px;
  padding:20px 50px 100px 50px;
  margin-bottom: 10px;
}
.addProfileInfo{
  position: fixed;
  z-index: 10001;
  top:0px;
  right:0px;
  height: 100vh;
  background-color: #0e0e0e;
  width:400px;
  padding:20px 50px 100px 50px;
  margin-bottom: 10px;
}
.notification{
  position: fixed;
  z-index: 10001;
  top:0px;
  right:0px;
  height: 100vh;
  background-color: #0e0e0e;
  width:400px;
  padding:20px 50px 100px 50px;
  margin-bottom: 10px;
}
.addItemImg{
  position: fixed;
  z-index: 10001;
  top:0px;
  right:0px;
  height: 100vh;
  background-color: #0e0e0e;
  width:400px;
  padding:20px 50px 100px 50px;
  margin-bottom: 10px;

}
.loginText{
  display: block;
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 30px;
  line-height: 36px;
  font-family: poppins-black;
  color: white;
}
.loginTextBack{
  margin-top: -25px;
  width: 45%;
  height: 25px;
  background-color: #0052cc;
  z-index: 10001;
}
.registerTextBack{
  margin-top: -23px;
  width: 160px;
  height: 20px;
  background-color: #b02b4a;

}
.passwordResetTextBack{
  margin-top: -57px;
  width: 100%;
  height: 60px;
  background-color: #572bb0;
}
.loginDetail{
  font-size: 15px;
  margin-bottom: 40px;
  font-family: poppins-light;
  color: white;
}
.emailInput{
  height: 38px;
  padding: 8px 12px 8px 0px;
  font-size: 14px;
  border-bottom:1px solid #ffffff4d;
  background-color: transparent!important;
  outline: none;
  color: white;
  font-family: poppins-regular;
  margin-bottom: 10px;
}
.loginButton{
  margin-top: 40px;
  margin-bottom: 15px;
}
.loginButton button{
  width: 100%;
  height:45px;
  font-size: 15px;
  font-family: poppins-medium;
  background-color: #0052cc;
  color: white;
  border-radius: 8px;
}
.registerButton{
  margin-top: 40px;
  margin-bottom: 15px;
}
.registerButton button{
  width: 100%;
  height:45px;
  font-size: 15px;
  font-family: poppins-medium;
  background-color: #b02b4a;
  color: white;
  border-radius: 8px;

}
.settingItemImg{
  height: 35px;
  margin-bottom: 10px;
}
.passwordResetButton{
  margin-top: 40px;
  margin-bottom: 15px;
}
.passwordResetButton button{
  width: 100%;
  height:45px;
  font-size: 15px;
  font-family: poppins-medium;
  background-color: #0052cc;
  color: white;
  border-radius: 8px;
}
input:focus{
  border-bottom: solid 1px #005ce7;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}
.stickyBarSearch{
  width: 250px;
  border:1px solid #333;
  padding:10px;
  border-radius: 30px;
  height: 40px;
}
.stickyBarSearch input{
  border-width: 0px!important;
}
.navbarIcon{
  width: 40px;
  height: 40px;
  display: flex;
  background-color:transparent;
  margin-left: 10px;
  border-radius: 100px;
  border: solid 1px #ffffff4d;
  overflow: auto;
  align-items: center;
}
.notificationItem{
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.detail-loading{
  background: #0E0E03;
  background: linear-gradient(90deg,#0E0E0E 8%,#000000 18%,#0E0E0E 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
.dropbox:hover{
  background: #ffffff33;
}
.setting{
  position: relative;
  width: 90vw;
  max-width: 1315px;
  margin-top: 30px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right:auto;
  height: 100%;

}
.setting_box{
  width: 250px;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  border:solid 1px #ffffff4d;
  cursor: pointer;
  border-radius: 8px;
}
.searchIcon{
  display: none;
}
.gradient {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 10;

}
.ownerText{
  font-size: 50px;
  font-family: poppins-black;
  color:white;
  line-height: 50px;
}
.ownerMessage{
  padding:0px 25px;
  margin-right: 10px;
  background:#0052cc;
  border-radius: 12px;
  height: 50px;
  align-items: center;
}
.ownerMessage .fontIcon{
  color: white;
  height: 24px;
  width: 24px;
  margin-right: 10px;
 }
 .ownerWebsite{
  background: transparent!important;
  border: solid 1px #ffffff33;
 }
 .ownerRating{
  padding: 0px 25px;
  height: 50px;
  background: transparent;
  border-radius: 12px;
  align-items: center;
  color:white;
  font-size: 15px;
  font-family: poppins-light;
  border: solid 1px #ffffff33;
 }
 .ownerItemBoard{
  width:95vw;
  height: auto;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
 }
 .addItem{
  width: 316px;
  height: 280px;
  background: #141414;
  border: solid 1px #ffffff33;
  border-radius: 8px;
 }
 textarea{
  margin: 10px 0px 20px 0px;
  border: solid 1px #ffffff4d;
  border-radius: 8px;
  font-size: 14px;
  font-family: poppins-light;
  color:white;
  padding: 8px 12px;
 }
 textarea:focus{
  border: solid 1px #005ce7!important;
 }
 p{
  color: white;
 }
 .chargeraterecordbutton{
  width: 100%;
  margin-top: 10px;
  padding: 15px 30px;
  border:solid 1px #ffffff4d;
  background: transparent;
  border-radius: 8px;
 }
 .empty{
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: solid 1px #ffffff4d;
  border-radius: 100px;
 }
 .ownerItemcard{
  width: 316px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 15px;
 }
 .ownerItemcard .carousel{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
 }
 .addItemLink{
  width: 316px;
  margin-right: 20px;
  margin-bottom: 15px;
 }
 .itemcardname{
  font-family: poppins-bold!important;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 2px;
 }
 .itemcardownernameandprice{
  font-size: 15px;
  color: white;
  font-family: poppins-light;
 }
 .createitembuttonbar{
  margin-top: 350px;
 }
 .createitembutton{
  height: 70px;
  width: 70px;
  background: #0052cc;
  border-radius: 100px;

 }
 .carousel_img{
  min-width: 100%;
  width:100%;
  object-fit: cover;
  border-radius: 8px;
}
.itemButtons{
  position: absolute;
  top: 2%;
  left: 2%;
  display: none;
  z-index: 100;
}
.carousel:hover .itemButtons{
  display: flex;
}
.carousel:focus .itemButtons{
  display: flex;
}


@media screen and (max-width: 991px){
  .ownerItemBoard{
    width: 90vw;
  }
  .setting{
    padding-right:  48px!important;
    padding-left: 48px!important;
  }
  .login{
    width: 100%!important;
    padding-right: 25vw!important;
    padding-left: 25vw!important;
  }
  .register{
    width: 100%!important;
    padding-right: 25vw!important;
    padding-left: 25vw!important;
  }
  .passwordReset{
    width: 100%!important;
    padding-right: 25vw!important;
    padding-left: 25vw!important;
  }
  .addProfileInfo{
    width: 100%!important;
    padding-right: 25vw!important;
    padding-left: 25vw!important;
  }
  .notification{
    width: 100%!important;
    padding-right: 25vw!important;
    padding-left: 25vw!important;
  }
  .addItemImg{
    width: 100%!important;
    padding-right: 25vw!important;
    padding-left: 25vw!important;

  }

}
@media screen and (max-width: 767px){
  .createitembutton{
    width: 50px;
    height: 50px;
  }
  .createitembuttonbar{
    margin-top: 10px;
  }
  .ownerItemcard .carousel{
    height: 50vw;
  }
  .addItemLink{
    width:100%;
    margin-right: 0px!important;
  }

  .ownerItemcard{
    width: 100%;
    margin-right: 0px!important;
   
  }
  .addItem{
    width:100%;
  }
  .ownerMessage p{
    display: none;
  }
  .ownerMessage .fontIcon{  
   margin-right: 0px;
  }
  .ownerText{
    font-size: 40px;
    line-height: 40px;
  }
  .logo-title{
    display: none;
  }
  .stickyBarSearch{
    width: 60%!important;
    margin-right: 5px!important;
  }
  .setting{
    padding-right: 32px!important;
    padding-left: 32px!important;
  }
  .setting_box_pan{
    flex-direction: column!important;
  }
  .setting_box{
    width: 100%!important;
  }
  .login{
    width: 100%!important;
    padding-right: 15vw!important;
    padding-left: 15vw!important;
  }
  .register{
    width: 100%!important;
    padding-right: 15vw!important;
    padding-left: 15vw!important;
  }
  .passwordReset{
    width: 100%!important;
    padding-right: 15vw!important;
    padding-left: 15vw!important;
  }
  .addProfileInfo{
    width: 100%!important;
    padding-right: 15vw!important;
    padding-left: 15vw!important;
  }
  .notification{
    width: 100%!important;
    padding-right: 15vw!important;
    padding-left: 15vw!important;
  }
  .addItemImg{
    width: 100%!important;
    padding-right: 15vw!important;
    padding-left: 15vw!important;

  }

}
@media screen and (max-width: 479px){
  .settingTitle{
    font-size: 23px!important;
  }
  .ownerRating{
    display: none;
  }
  .ownerMessage{
    width: 70%!important;
    justify-content: center;
  }
  .ownerWebsite{
    width: 25%!important;
    justify-content: center;
    padding: 15px 25px;
  }
  .ownerText{
    font-size: 30px;
    line-height: 30px;
  }
  .stickyBarSearch{
    display: none;
  }
  .searchIcon{
    display: flex;
  }
  .setting{
    width: 100%!important;
    padding-right: 7vw!important;
    padding-left: 7vw!important;
  }
  .login{
    width: 100%!important;
    padding-right: 7vw!important;
    padding-left: 7vw!important;
  }
  .register{
    width: 100%!important;
    padding-right: 7vw!important;
    padding-left: 7vw!important;
  }
  .passwordReset{
    width: 100%!important;
    padding-right: 7vw!important;
    padding-left: 7vw!important;
  }
  .addProfileInfo{
    width: 100%!important;
    padding-right: 7vw!important;
    padding-left: 7vw!important;
  }
  .notification{
    width: 100%!important;
    padding-right: 7vw!important;
    padding-left: 7vw!important;
  }
  .addItemImg{
    width: 100%!important;
    padding-right: 7vw!important;
    padding-left: 7vw!important;
  }

}

